@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

div#app p.password {
  font-size: 3em;
  font-family: Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji,
    Noto Color Emoji, Android Emoji, EmojiSymbols, EmojiOne Mozilla,
    Twemoji Mozilla, Segoe UI Symbol, Noto Color Emoji Compat, emoji,
    noto-emojipedia-fallback;
}

div#app p.info {
  background-color: #ddd;
  border-radius: 12px;
  padding: 10px;
  font-weight: 400;
  font-family: Roboto;
}

div#app input#size {
  width: calc(100% - 150px);
}

div#app p.info p {
  margin: 5px;
}
